body {
    background-color: #eeeeee;
    color: #222831;
}

#newBookForm {
    border: 1px #6b6b6a solid;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    width: fit-content;
}

#topNav{
    background-color: #222831;
    overflow: hidden;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }

#topSubNav{
    background-color: #4f8a8b;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;;
    padding-bottom: 0px;
    color: #222831;
  }

body, html {
    margin: 0;
    padding: 0;
  }

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color:white;
    font-size: 40px;
    /*add shadow on text  */
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
    letter-spacing: 1.5px;
    line-height: 1.2em;
    /*add shadow on text  */
}

#newBookFormLabel {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    /*add shadow on text  */
}

#newBookFormDiv {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2em;
    /*add shadow on text  */
}

#newBookForm {
    padding: 0.5em 1em 1em 1em;
    background-color: #fbd46d;
}

#isNotRead {
    color: red;
}

#isInProgress {
    color: orange;
}

#isRead {
    color: green;
}

.book {
    border: 1px grey solid;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 5px 5px 5px 5px;
    background-color: #f4ebc1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2em;
    height: fit-content;
    width: 175px;
        /* make look like cards - overlap??  */
}

#clearStorage {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

#clearStorageButton {
    width: 15.4em;
    background-color: #4f8a8b;
}

#pageWrapper {
    display: flex;
    padding-top: 1em;
}

#container {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
}
/* 
h1 {
    font: 20px Arial, sans-serif;
    font-weight: bold;
}

.book {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.bookDiv {
    border: 1px black solid;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

#newBookDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newBookButton {
    margin-top: 10px;
} */